@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


.ftr-container {
    position: absolute;
    bottom: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: black; */

}

.ftr-left,
.ftr-right {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: flex-start;
    font-family: "Roboto Mono",
        "Roboto Mono",
        "Vazirmatn",
        monospace;
}

.ftr-left {
    margin-left: 100px;
}

.ftr-right {
    position: relative;
    margin-left: 350px;

}





.ftr-right img {
    width: 24px;
    height: 24px;
    /* margin-right: 10px; */
}

.footer-text {
    margin: 0 10px;
    /* color: #5e676e */
}

.icon-text-group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1px;
    cursor: pointer;
    text-decoration: none;
}

